@import 'util';

$colors: (
  'Anthracite': #042a2b,
  'Banane': #fae4b2,
  'Blanc': #fbfbfb,
  'Ciel': #8dddfa,
  'Cuivre rose': #de7c6f,
  'Grenade': #e93b3b,
  'Lagon': #35aed9,
  'Mousse': #586d5e,
  'Mousse délavée': #9ba79e,
  'Pierre': #7a7a7a,
  'Pistache': #dae2cd,
  'Poudre': #dfadac,
  'Poussin': #ffea81,
  'Saphir': #1185c2,
  'Serpentine brute': #395758,
  'Souris': #b5b5b5,
  'Vanille': #f5f1e6,
);

@function get-color($name) {
  @return map-get($colors, $name);
}

$semantic-colors: (
  primary: get-color('Saphir'),
  secondary: get-color('Poussin'),
  danger: get-color('Grenade'),
  success: get-color('Mousse délavée'),
  hard: get-color('Anthracite'),
  soft: get-color('Serpentine brute'),
  muted: get-color('Souris')
);
