/* Made with transfonter.org. */

/* Below are critical fonts. The corresponding woff2 files are preloaded in pages/_document.js */
@font-face {
    font-family: 'Baloo';
    font-display: fallback;
    src: url('/static/fonts/subset-Baloo.eot');
    src: local('Baloo'),
        url('/static/fonts/subset-Baloo.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-Baloo.woff2') format('woff2'),
        url('/static/fonts/subset-Baloo.woff') format('woff'),
        url('/static/fonts/subset-Baloo.ttf') format('truetype'),
        url('/static/fonts/subset-Baloo.svg#Baloo') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 300';
    font-display: fallback;
    src: url('/static/fonts/subset-MuseoSans-300.eot');
    src: local('Museo Sans 300'), local('MuseoSans-300'),
        url('/static/fonts/subset-MuseoSans-300.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-MuseoSans-300.woff2') format('woff2'),
        url('/static/fonts/subset-MuseoSans-300.woff') format('woff'),
        url('/static/fonts/subset-MuseoSans-300.ttf') format('truetype'),
        url('/static/fonts/subset-MuseoSans-300.svg#MuseoSans-300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    font-display: fallback;
    src: url('/static/fonts/subset-Quicksand-Regular.eot');
    src: local('Quicksand Regular'), local('Quicksand-Regular'),
        url('/static/fonts/subset-Quicksand-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-Quicksand-Regular.woff2') format('woff2'),
        url('/static/fonts/subset-Quicksand-Regular.woff') format('woff'),
        url('/static/fonts/subset-Quicksand-Regular.ttf') format('truetype'),
        url('/static/fonts/subset-Quicksand-Regular.svg#Quicksand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Below are non-critical fonts. */
@font-face {
    font-family: 'Patrick Hand';
    src: url('/static/fonts/subset-PatrickHand-Regular.eot');
    src: local('Patrick Hand'), local('PatrickHand-Regular'),
        url('/static/fonts/subset-PatrickHand-Regular.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-PatrickHand-Regular.woff2') format('woff2'),
        url('/static/fonts/subset-PatrickHand-Regular.woff') format('woff'),
        url('/static/fonts/subset-PatrickHand-Regular.ttf') format('truetype'),
        url('/static/fonts/subset-PatrickHand-Regular.svg#PatrickHand-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('/static/fonts/subset-MuseoSans-500.eot');
    src: local('Museo Sans 500'), local('MuseoSans-500'),
        url('/static/fonts/subset-MuseoSans-500.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-MuseoSans-500.woff2') format('woff2'),
        url('/static/fonts/subset-MuseoSans-500.woff') format('woff'),
        url('/static/fonts/subset-MuseoSans-500.ttf') format('truetype'),
        url('/static/fonts/subset-MuseoSans-500.svg#MuseoSans-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans 300';
    src: url('/static/fonts/subset-MuseoSans-300Italic.eot');
    src: local('Museo Sans 300 Italic'), local('MuseoSans-300Italic'),
        url('/static/fonts/subset-MuseoSans-300Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-MuseoSans-300Italic.woff2') format('woff2'),
        url('/static/fonts/subset-MuseoSans-300Italic.woff') format('woff'),
        url('/static/fonts/subset-MuseoSans-300Italic.ttf') format('truetype'),
        url('/static/fonts/subset-MuseoSans-300Italic.svg#MuseoSans-300Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans 500';
    src: url('/static/fonts/subset-MuseoSans-500Italic.eot');
    src: local('Museo Sans 500 Italic'), local('MuseoSans-500Italic'),
        url('/static/fonts/subset-MuseoSans-500Italic.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/subset-MuseoSans-500Italic.woff2') format('woff2'),
        url('/static/fonts/subset-MuseoSans-500Italic.woff') format('woff'),
        url('/static/fonts/subset-MuseoSans-500Italic.ttf') format('truetype'),
        url('/static/fonts/subset-MuseoSans-500Italic.svg#MuseoSans-500Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}
