@import 'util';
@import 'color';
@import 'fonts';


$typography-body-lead-map: (
  color: get-color('Anthracite'),
  font-family: 'Museo Sans',
  font-size: 18px,
  font-style: normal,
  font-weight: 300,
  line-height: 1.279,
  text-transform: none,
);
@mixin typography-body-lead($color: null) {
  @include map-to-mixin($typography-body-lead-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-body-text-m-map: (
  color: get-color('Serpentine brute'),
  font-family: 'Museo Sans',
  font-size: 14px,
  font-style: normal,
  font-weight: 300,
  line-height: 1.25,
  text-transform: none,
);
@mixin typography-body-text-m($color: null) {
  @include map-to-mixin($typography-body-text-m-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-body-text-s-map: (
  color: get-color('Serpentine brute'),
  font-family: 'Museo Sans',
  font-size: 12px,
  font-style: normal,
  font-weight: 300,
  line-height: 1.25,
  text-transform: none,
);
@mixin typography-body-text-s($color: null) {
  @include map-to-mixin($typography-body-text-s-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-body-text-xs-map: (
  color: get-color('Serpentine brute'),
  font-family: 'Museo Sans',
  font-size: 10px,
  font-style: normal,
  font-weight: 300,
  line-height: 1.2,
  text-transform: none,
);
@mixin typography-body-text-xs($color: null) {
  @include map-to-mixin($typography-body-text-xs-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-page-title-map: (
  color: get-color('Saphir'),
  font-family: 'Baloo',
  font-size: 38px,
  font-style: normal,
  font-weight: 500,
  line-height: normal,
  text-transform: none,
  letter-spacing: 0.1px,
);
@mixin typography-page-title($color: null) {
  @include map-to-mixin($typography-page-title-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-page-subtitle-map: (
  color: get-color('Saphir'),
  font-family: 'Quicksand',
  font-size: 24px,
  font-style: normal,
  font-weight: 500,
  line-height: normal,
  text-transform: none,
);
@mixin typography-page-subtitle($color: null) {
  @include map-to-mixin($typography-page-subtitle-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-page-section-title-map: (
  color: get-color('Anthracite'),
  font-family: 'Museo Sans',
  font-size: 18px,
  font-style: normal,
  font-weight: 300,
  line-height: 1.279,
  text-transform: none,
);
@mixin typography-page-section-title($color: null) {
  @include map-to-mixin($typography-page-section-title-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-blockquote-map: (
  color: get-color('Saphir'),
  font-family: 'PatrickHand',
  font-size: 20px,
  font-style: normal,
  font-weight: 500,
  line-height: 1.15,
  text-transform: none,
);
@mixin typography-blockquote($color: null) {
  @include map-to-mixin($typography-blockquote-map);
  @if $color != null {
    color: $color !important;
  }
};

$typography-blockquote-quote-map: (
  color: get-color('Banane'),
  font-family: 'Baloo',
  font-size: 68px,
  font-style: normal,
  font-weight: 500,
  line-height: 0,
  text-transform: none,
);
@mixin typography-blockquote-quote($color: null) {
  @include map-to-mixin($typography-blockquote-quote-map);
  @if $color != null {
    color: $color !important;
  }
};
