@mixin map-to-mixin($map) {
  @each $prop, $value in $map {
      #{$prop}: $value;
  }
}

@mixin link-decorator($height: null) {
  background-color: transparent;
  background-image: url('/static/images/hyperlink-sprite.png');
  background-repeat: repeat-x;
  background-position: 0 -185px; // up to 23 text height - 200 sprite height
  color: get-color('Anthracite');
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

  @if $height != null {
    height: $height;
  }

  &:hover,
  &:focus {
    background-position: 0 15px; // up to 23 text height - 8 img height
    background-color: get-color('Poussin');
  }
}
