@mixin map-to-mixin($map) {
  @each $prop, $value in $map {
      #{$prop}: $value;
  }
}

@mixin link-decorator($height: null, $color: null, $line: null) {
  background-color: transparent;
  @if $line != false {
    background-image: url('/static/images/hyperlink-sprite.png');
    background-repeat: repeat-x;
    background-position: 0 -185px; // up to 23 text height - 200 sprite height
  }

  @if $height != null {
    color: $color;
  } @else {
    color: get-color('Anthracite');
  }
  text-decoration: none;
  transition: background-color 250ms cubic-bezier(.4, 0, .2, 1);

  @if $height != null {
    height: $height;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    @if $line != false {
      background-position: 0 15px; // up to 23 text height - 8 img height
      background-color: get-color('Poussin');
    } @else {
      background-color: get-color('Vanille');
    }
  }
}
