@import 'sass/base';

html  {
  font-size: 100%; // Has to be 100% for external CSS integration.

  body {
    margin: 0;
    @include typography-body-text-m();
  }
}

h1 {
  @include typography-page-title();
  margin: 0;
}

h2 {
  @include typography-page-subtitle();
  margin: 0;
}

h3 {
  @include typography-page-section-title();
  margin: 0 0 12px;
}

p + h3 {
  margin-top: 70px;
}

h2 + h3 {
  margin-top: 30px;
}

h5 {
  @include typography-body-text-s();
  color: get-color('Mousse');
}

em {
  font-weight: 500;
  font-style: normal;
}


.Layout {
	display: flex;
	flex-direction: column;
	height: 100vh;
	min-height: 100%;

  > .Header {
    flex: 0 1 auto;
  }

  > .page-wrapper {
    flex: 1 0 auto;
    p a {
      @include link-decorator();
    }

    > * {
      padding: 0 80px;
    }
  }

  > .Footer {
    flex: 0 0 auto;
  }
}
