@import "sass/typography";

$button-background-color: transparent !default;
$button-color: get-color('Serpentine brute') !default;
$button-border-color: get-color('Pistache') !default;
$button-border-width: 1px !default;
$button-border-radius: 2px !default;
$button-border-style: solid !default;
$button-padding: 6px !default;
$button-inner-spacing: 6px !default;
$button-hover-color: get-color('Anthracite') !default;
$button-hover-background-color: get-color('Ciel') !default;
$button-hover-border-color: get-color('Lagon') !default;
$button-active-color: get-color('Anthracite') !default;
$button-active-background-color: mix(get-color('Lagon'), get-color('Ciel'), 50%) !default;
$button-active-border-color: get-color('Saphir') !default;
$button-disabled-color: get-color('Pierre') !default;
$button-disabled-text-opacity: 0.7 !default;
$button-disabled-background-color: mix(white, get-color('Souris'), 50%) !default;
$button-disabled-border-color: rgba(get-color('Pierre'), 0.2) !default;

.Tooltip {
  composes: Tooltip from './Tooltip.scss';
  min-width: 100%; // Proper solution would be a tooltip len prop.
}

.Button {
  composes: TooltipContainer from './Tooltip.scss';

  cursor: pointer;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;

  border-width: $button-border-width;
  border-style: $button-border-style;
  border-color: $button-border-color;
  border-radius: $button-border-radius;
  padding: $button-padding;

  background-color: $button-background-color;

  transition:
    background-color 200ms cubic-bezier(.4, 0, .2, 1),
    border-color 200ms cubic-bezier(.4, 0, .2, 1);

  &.ButtonNoText {
    width: 24px;
    height: 24px;
    border-width: 0;
    padding: 0;

    .ButtonIcon {
      flex: 1 0 auto !important;
    }
  }

  &.ButtonSmall {
      .ButtonIcon {
        width: 16px;
        &:before {
          font-size: 16px;
        }
      }

      .ButtonInner {
        @include typography-body-text-m($button-color);
      }
  }

  .ButtonIcon + .ButtonInner {
    margin-left: $button-inner-spacing;
  }

  &:focus {
    outline: none !important;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
      .ButtonIcon,
      .ButtonInner {
        color: $button-hover-color;
      }
    background-color: $button-hover-background-color;
    border-color: $button-hover-border-color;
  }

  &:active:not(:disabled) {
      .ButtonIcon,
      .ButtonInner {
        color: $button-active-color;
      }
    background-color: $button-active-background-color;
    border-color: $button-active-border-color;
  }

  &:disabled {
    cursor: not-allowed;

    .ButtonIcon,
    .ButtonInner {
      color: $button-disabled-color;
      opacity: $button-disabled-text-opacity;
    }
    background-color: $button-disabled-background-color;
    border-color: $button-disabled-border-color;
  }
}

.ButtonIcon {
  flex: 0 0 auto;
  &:before {
    color: $button-color;
  }
}

.ButtonIconAnimated {
  composes: icon-animated-translation-x from '../_icons.scss';
}

.ButtonInner {
  flex: 1 0 auto;
  color: $button-color;
  @include typography-body-lead($button-color);
}
