$footer-img-l-height: 48px;
$footer-img-r-height: 111px;

$footer-height: max($footer-img-l-height, $footer-img-r-height) !default;
$footer-margin-top: min($footer-img-l-height, $footer-img-r-height) - $footer-height !default;

.Footer {
  clear: both;
  height: $footer-height;
  margin-top: $footer-margin-top;
  overflow: hidden;
  position: relative;
  width: 100%;
  z-index: -1;

  img {
    bottom: 0;
    position: absolute;

    &.left {
      left: 0;
    }

    &.water {
      left: 0;
      height: 28.5px;
      right: 24px;
      width: 100%;
      z-index: -1;
    }

    &.right {
      right: 0;
    }
  }
}
